$insta-wrapper-max-width: 965px;
$insta-wrapper-min-height: 100px;
$transition: all .17s cubic-bezier(.4, 0, 1, 1);
  
.image-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-around;
  margin: 0 auto 24px;
  max-width: $insta-wrapper-max-width;
  min-height: $insta-wrapper-min-height;
  position: relative;
}
  
.image-item {
  animation:slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  @for $i from 1 through 10 {    
   &:nth-child(#{$i}) {
    animation-delay: (#{$i * .1s});
   }
 }
}

.insta-page {
  padding: 12px;
}

.image {
 display: block;
 position: relative;
 transition: $transition;
  
 img {
  display: block;
 }
}

@keyframes slide-item {
 60% { 
 transform: translateY(-10px);
 }
 100% {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
    }}